<!DOCTYPE html>
<html lang="pt-BR">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clientes/css/cadastro.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  <!-- Adicione o SweetAlert2 -->
    <title>SISMED WEB - CADASTRO</title>
</head>
<body>
    <section class="area_login">
        <div class="login">
            <div>
                <img src="{% static 'clientes/img/logov2.png' %}">
            </div>
            <form action="{% url 'cadastro' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nome De Usuário" autofocus>
                <input type="email" name="email" placeholder="Digite seu Email">
                <input type="password" name="senha" placeholder="Digite a Senha">
                <input type="submit" value="Cadastrar">
            </form>
            <p>Já possui sua conta? <a href="{% url 'login' %}">Acesse</a></p>
        </div>
    </section>

    <!-- Exibe as mensagens do Django -->
    {% if messages %}
        <script>
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',  // success, error, etc.
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000  // Fecha automaticamente após 3 segundos
                }).then(() => {
                    // Redireciona para a página de login após o alerta fechar (apenas para mensagens de sucesso)
                    {% if message.tags == 'success' %}
                        window.location.href = "{% url 'login' %}";
                    {% endif %}
                });
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>