<!DOCTYPE html>
<html lang="pt-BR">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'clientes/css/login.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  <!-- Adicione o SweetAlert2 -->
    <title>SISMED WEB - LOGIN</title>
</head>
<body>
    <section class="area_login">
        <div class="login">
            <div>
                <img src="{% static 'clientes/img/logov2.png' %}">
            </div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nome De Usuário" autofocus>
                <input type="password" name="senha" placeholder="Digite a Senha">
                <input type="submit" value="Entrar">
            </form>
            <p>Não possui uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
        </div>
    </section>

    <!-- Exibe as mensagens do Django -->
    {% if messages %}
        <script>
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',  // success, error, etc.
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000  // Fecha automaticamente após 3 segundos
                });
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>